<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taosearch.dao.OrderDao">
	<resultMap type="com.taosearch.model.ItemInfo" id="ItemInfoMap">
		<id column="item_id" property="item_id" />
		<result column="item_no" property="item_no" />
		<result column="item_url" property="item_url" />
		<result column="item_name" property="item_name" />
		<result column="item_md" property="item_md" />
		<result column="item_title" property="item_title" />
		<result column="item_type" property="item_type" />
		<result column="item_hdlx" property="item_hdlx" />
		<result column="item_yjbl" property="item_yjbl" />
		<result column="user_id" property="user_id" />
		<result column="username" property="username" />
		<result column="createtime" property="createtime" />
		<result column="updatetime" property="updatetime" />
		<result column="item_qhjg" property="item_qhjg" />
		<result column="state" property="state" />
		<result column="item_fwdj" property="item_fwdj" />
		<result column="coupon_id" property="coupon_id" />
		<result column="item_image" property="item_image" />
		<result column="item_main_image" property="item_main_image" />
		<result column="qq" property="qq" />
		<result column="item_zfje_state" property="item_zfje_state" />
		<result column="remark" property="remark" />
		<result column="item_image_backup" property="item_image_backup" />
		<result column="item_website_type" property="item_website_type" />
		<result column="coupon_url" property="coupon_url" />
		<result column="activity_start_time" property="activity_start_time" />
		<result column="coupon_start_time" property="coupon_start_time" />
		<result column="coupon_end_time" property="coupon_end_time" />
		<result column="item_jhlb" property="item_jhlb" />
		<result column="item_jhlj" property="item_jhlj" />
		<result column="item_zfje" property="item_zfje" />
		<result column="item_ssje" property="item_ssje" />
		<result column="coupon_rest_num" property="coupon_rest_num" />
		<result column="coupon_get_num" property="coupon_get_num" />
		<result column="coupon_use_num" property="coupon_use_num" />
		<!-- 多对一的关系 -->
		<!-- property: 指的是属性的值, javaType：指的是属性的类型 -->
		<collection property="attachments" ofType="com.taosearch.model.ItemAttachment">
			<id column="attachment_id" property="attachment_id" />
			<result column="attachment_value" property="attachment_value" />
			<result column="attachment_user_name" property="attachment_user_name" />
			<result column="attachment_createtime" property="attachment_createtime" />
		</collection>
		<!-- 多对一的关系 -->
		<!-- property: 指的是属性的值, javaType：指的是属性的类型 -->
		<collection property="logs" ofType="com.taosearch.model.ItemAuditLog">
			<id column="log_id" property="log_id" />
			<result column="before_audit_status" property="before_audit_status" />
			<result column="after_audit_status" property="after_audit_status" />
			<result column="auditor" property="auditor" />
			<result column="audit_time" property="audit_time" />
			<result column="audit_remarks" property="audit_remarks" />
		</collection>
	</resultMap>
	<select id="getItemTypes" resultType="com.taosearch.model.ItemType">
		select type_id,type_name
		from t_item_type
	</select>
	<insert id="saveItemInfo" parameterType="com.taosearch.model.Item">
		insert t_item
		<set>
			item_id=#{item_id},
			user_id=#{user_id},
			createtime=NOW(),
			updatetime=NOW(),
			coupon_id=#{coupon_id},
			<if test="item_no != null and item_no != ''">
				item_no=#{item_no},
			</if>
			<if test="item_url != null and item_url != ''">
				item_url=#{item_url},
			</if>
			<if test="item_name != null and item_name != ''">
				item_name=#{item_name},
			</if>
			<if test="item_md != null and item_md != ''">
				item_md=#{item_md},
			</if>
			<if test="item_title != null and item_title != ''">
				item_title=#{item_title},
			</if>
			<if test="item_type != null and item_type != ''">
				item_type=#{item_type},
			</if>
			<if test="item_hdlx != null and item_hdlx != ''">
				item_hdlx=#{item_hdlx},
			</if>
			<if test="item_website_type != null and item_website_type != ''">
				item_website_type=#{item_website_type},
			</if>
			<if test="item_image != null and item_image != ''">
				item_image=#{item_image},
			</if>
			<if test="item_image_backup != null and item_image_backup != ''">
				item_image_backup=#{item_image_backup},
			</if>
			<if test="item_main_image != null and item_main_image != ''">
				item_main_image=#{item_main_image},
			</if>
			<if test="remark != null and remark != ''">
				remark=#{remark},
			</if>
			<if test="qq != null and qq != ''">
				qq=#{qq},
			</if>
			<if test="item_jhlb != null and item_jhlb != ''">
				item_jhlb=#{item_jhlb},
			</if>
			<if test="item_jhlj != null and item_jhlj != ''">
				item_jhlj=#{item_jhlj},
			</if>
			<if test="item_yjbl != null">
				item_yjbl=#{item_yjbl},
			</if>
			<if test="item_qhjg != null">
				item_qhjg=#{item_qhjg},
			</if>
			<if test="item_fwdj != null">
				item_fwdj=#{item_fwdj},
			</if>
			state=#{state},
			item_zfje_state='0'
		</set>
	</insert>


	<insert id="saveCouponInfo" parameterType="com.taosearch.model.Item">
		insert t_coupon
		<set>
			coupon_id=#{coupon_id},
			<if test="coupon_start_time != null and coupon_start_time != ''">
				coupon_start_time=#{coupon_start_time},
			</if>
			<if test="coupon_end_time != null and coupon_end_time != ''">
				coupon_end_time=#{coupon_end_time},
			</if>
			<if test="coupon_url != null and coupon_url != ''">
				coupon_url=#{coupon_url},
			</if>
			<if test="activity_start_time != null and activity_start_time != ''">
				activity_start_time=#{activity_start_time},
			</if>
		</set>
	</insert>

	<select id="getItemUrlCount" parameterType="String" resultType="int">
		select count(*) from t_item where item_url=#{item_url} AND state IN ('002','003','001','112')
	</select>
	<select id="getItemListForPage" parameterType="map"
		resultType="com.taosearch.model.Item">
		SELECT
		i.`item_id`,i.`item_image_backup`,i.`item_no`,i.`item_url`,i.`item_name`,i.`item_md`,i.`item_title`,i.`item_type`,i.`item_hdlx`,i.`item_yjbl`,s.`username`,
		i.`createtime`,i.`updatetime`,i.`item_qhjg`,i.`state`,i.`item_fwdj`,c.`coupon_url`,c.`coupon_start_time`,c.`coupon_end_time`,c.`coupon_get_num`,
		c.`coupon_rest_num`,c.`coupon_use_num`,i.`item_image`,i.`qq`,i.`remark`,i.`item_image_backup`,i.`item_website_type`,i.`item_jhlb`,i.`item_jhlj`
		FROM
		(SELECT * FROM t_item WHERE 1=1
		<if test="state != null and state != '' and state != '000'.toString() ">and state = #{state} </if>
		<if test="vo.item_type != null and vo.item_type != ''">and item_type = #{vo.item_type} </if>
		<if test="vo.item_no != null and vo.item_no != ''">and item_no = #{vo.item_no} </if>
		<if test="vo.qq != null and vo.qq != ''">and qq LIKE CONCAT('%', #{vo.qq},'%')</if>
		<if test="vo.item_name != null and vo.item_name !=''"> and item_name like CONCAT('%',#{vo.item_name},'%') </if>
		<if test="vo.query_start_time != null and vo.query_start_time !=''"> 
			<![CDATA[and createtime>=#{vo.query_start_time}]]>
		</if>
		<if test="vo.query_end_time != null and vo.query_end_time !=''"> 
			<![CDATA[and createtime<= DATE_ADD(#{vo.query_end_time},INTERVAL 1 DAY)]]>
		</if>

		AND
		user_id IN(SELECT user_id FROM
		t_sys_user
		WHERE 1=1
		<if test="sa.authorization == '1'.toString() ">and user_id = #{sa.user_id} </if>
		<if test="sa.authorization == '2'.toString() ">and team_id = #{sa.team_id} </if>
		<if test="vo.team_id != null and vo.team_id != ''">and team_id = #{vo.team_id} </if>
		<if test="vo.user_id != null and vo.user_id != ''">and user_id = #{vo.user_id} </if>
		))i
		INNER JOIN t_coupon c ON i.`coupon_id`=c.`coupon_id`
		JOIN
		t_sys_user s ON
		i.`user_id`=s.`user_id`
		<where>
		1=1
		<if test="vo.coupon_get_num_min != null">
			<![CDATA[and c.coupon_get_num>=#{vo.coupon_get_num_min}]]>
		</if>
		<if test="vo.coupon_get_num_max != null">
			<![CDATA[and c.coupon_get_num<=#{vo.coupon_get_num_max}]]>
		</if>
		<if test="vo.activity_begin_time != null">
			<![CDATA[and c.activity_start_time >= #{vo.activity_begin_time}]]>
		</if>
		<if test="vo.activity_end_time != null">
			<![CDATA[and c.activity_start_time <= #{vo.activity_end_time}]]>
		</if>
		</where>
		ORDER BY i.`updatetime` DESC
		LIMIT
		#{pagestart},#{rows}
	</select>
	<select id="getItemCount" parameterType="map" resultType="int">
		SELECT
		count(*)
		FROM
		(SELECT * FROM t_item WHERE 1=1
		<if test="state != null and state != '' and state != '000'.toString() ">and state = #{state} </if>
		<if test="vo.item_type != null and vo.item_type != ''">and item_type = #{vo.item_type} </if>
		<if test="vo.item_no != null and vo.item_no != ''">and item_no = #{vo.item_no} </if>
		<if test="vo.qq != null and vo.qq != ''">and qq LIKE CONCAT('%', #{vo.qq},'%')</if>
		<if test="vo.item_name != null and vo.item_name !=''"> and item_name like CONCAT('%',#{vo.item_name},'%') </if>
		<if test="vo.query_start_time != null and vo.query_start_time !=''">
			<![CDATA[and createtime>=#{vo.query_start_time}]]>
		</if>
		<if test="vo.query_end_time != null and vo.query_end_time !=''">
			<![CDATA[and createtime<= DATE_ADD(#{vo.query_end_time},INTERVAL 1 DAY)]]>
		</if>

		AND
		user_id IN(SELECT user_id FROM
		t_sys_user
		WHERE 1=1
		<if test="sa.authorization == '1'.toString() ">and user_id = #{sa.user_id} </if>
		<if test="sa.authorization == '2'.toString() ">and team_id = #{sa.team_id} </if>
		<if test="vo.team_id != null and vo.team_id != ''">and team_id = #{vo.team_id} </if>
		<if test="vo.user_id != null and vo.user_id != ''">and user_id = #{vo.user_id} </if>
		))i
		INNER JOIN t_coupon c ON i.`coupon_id`=c.`coupon_id`
		JOIN
		t_sys_user s ON
		i.`user_id`=s.`user_id`
		<where>
			1=1
			<if test="vo.coupon_get_num_min != null">
				<![CDATA[and c.coupon_get_num>=#{vo.coupon_get_num_min}]]>
			</if>
			<if test="vo.coupon_get_num_max != null">
				<![CDATA[and c.coupon_get_num<=#{vo.coupon_get_num_max}]]>
			</if>
			<if test="vo.activity_begin_time != null">
				<![CDATA[and c.activity_start_time >= #{vo.activity_begin_time}]]>
			</if>
			<if test="vo.activity_end_time != null">
				<![CDATA[and c.activity_start_time <= #{vo.activity_end_time}]]>
			</if>
		</where>
	</select>
	<select id="getitemInfoById" parameterType="String" resultMap="ItemInfoMap">
		select
		i.`item_id`,i.`item_no`,i.item_main_image,i.`item_url`,i.`item_name`,i.`item_md`,i.`item_title`,t.`type_name`
		item_type,i.`item_hdlx`,i.`item_yjbl`,u.`username`,i.item_ssje,i.item_zfje,i.item_zfje_state,
		i.`createtime`,i.`updatetime`,i.`item_qhjg`,i.`state`,i.`item_fwdj`,i.`coupon_id`,c.`coupon_url`,c.`coupon_start_time`,c.`coupon_end_time`,c.`coupon_get_num`,
		c.`coupon_rest_num`,c.`coupon_use_num`,i.`item_image`,i.`qq`,i.`remark`,i.`item_image_backup`,i.`item_website_type`,i.`item_jhlb`,i.`item_jhlj`,
		l.`log_id`,l.`before_audit_status`,l.`after_audit_status`,l.`auditor`,l.`audit_time`,l.`audit_remarks`,
		a.`attachment_id`,a.`attachment_value`,a.`attachment_user_name`,a.`attachment_createtime`,c.`activity_start_time`
		from
		t_item i
		left join t_coupon c on i.`coupon_id`=c.`coupon_id`
		left
		join t_sys_user u on i.`user_id`=u.`user_id`
		left join
		t_item_audit_log
		l on i.`item_id`=l.`item_id`
		left join
		t_item_attachment a on
		i.`item_id`=a.`item_id`
		LEFT JOIN t_item_type t ON
		i.`item_type`=t.`type_id`
		where
		i.`item_id`=#{item_id}
	</select>
	<update id="updateItemState" parameterType="com.taosearch.model.ItemAuditLog">
		update t_item
		<set>
			updatetime=now(),
			<if test="audit_remarks != null ">
				remark=#{audit_remarks},
			</if>
			<if test="after_audit_status == '667'.toString() ">
				item_zfje_state='0',
			</if>
			state=#{after_audit_status}
		</set>
		where
		item_id=#{item_id}
	</update>
	<update id="updateCoupon" parameterType="com.taosearch.model.Coupon">
		update t_coupon
		<set>
			<if test="coupon_end_time != null and coupon_end_time != ''">
				coupon_end_time=#{coupon_end_time},
			</if>
			<if test="coupon_rest_num != null">
				coupon_rest_num=#{coupon_rest_num},
			</if>
			<if test="coupon_get_num != null">
				coupon_get_num=#{coupon_get_num},
			</if>
			<if test="coupon_use_num != null">
				coupon_use_num=#{coupon_use_num},
			</if>
			<if test="coupon_start_time != null and coupon_start_time != ''">
				coupon_start_time=#{coupon_start_time},
			</if>
			<if test="coupon_end_time != null and coupon_end_time != ''">
				coupon_end_time=#{coupon_end_time},
			</if>
			<if test="coupon_url != null and coupon_url != ''">
				coupon_url=#{coupon_url},
			</if>
			<if test="activity_start_time != null and activity_start_time != ''">
				activity_start_time=#{activity_start_time}
			</if>
		</set>
		where
		coupon_id=#{coupon_id}
	</update>
	<insert id="saveAuditLog" parameterType="com.taosearch.model.ItemAuditLog">
		insert t_item_audit_log
		<set>
			item_id=#{item_id},
			before_audit_status=#{before_audit_status},
			after_audit_status=#{after_audit_status},
			auditor=#{auditor},
			<if test="audit_remarks != null and audit_remarks != ''">
				audit_remarks=#{audit_remarks},
			</if>
			audit_time=now()
		</set>
	</insert>
	<insert id="saveItemAttachemt" parameterType="com.taosearch.model.ItemAttachment">
		insert t_item_attachment
		<set>
			item_id=#{item_id},
			attachment_value=#{attachment_value},
			attachment_user_name=#{attachment_user_name},
			attachment_createtime=now()
		</set>
	</insert>
	<update id="updateItemzfje" parameterType="map">
		update t_item
		<set>
			updatetime=now(),
			<if test="audit_remarks != null ">
				remark=#{audit_remarks},
			</if>
			state=#{after_audit_status},
			item_zfje=#{item_zfje},
			item_zfje_state='1'
		</set>
		where
		item_id=#{item_id}
	</update>
	<update id="updateItemssje" parameterType="map">
		update t_item
		<set>
			updatetime=now(),
			<if test="audit_remarks != null ">
				remark=#{audit_remarks},
			</if>
			state=#{after_audit_status},
			item_ssje=#{item_ssje}
		</set>
		where
		item_id=#{item_id}
	</update>
	<select id="getnavstateinfo" parameterType="com.taosearch.model.SimpleAuthorization"
		resultType="com.taosearch.model.NavStateCount">
		SELECT '000' state,COUNT(*) num
		FROM
		(SELECT * FROM t_item WHERE 1=1 AND
		user_id IN(SELECT user_id FROM t_sys_user
		WHERE 1=1
		<if test="authorization == '1'.toString() ">and user_id = #{user_id} </if>
		<if test="authorization == '2'.toString() ">and team_id = #{team_id} </if>
		))i
		UNION ALL
		SELECT d.state,COUNT(i.`state`) num
		FROM t_item_state_dic d
		LEFT JOIN (SELECT * FROM t_item WHERE 1=1 AND user_id IN(SELECT
		user_id
		FROM t_sys_user WHERE 1=1
		<if test="authorization == '1'.toString() ">and user_id = #{user_id} </if>
		<if test="authorization == '2'.toString() ">and team_id = #{team_id} </if>
		))i ON d.`state`=i.`state`
		GROUP BY
		d.state
	</select>
	<update id="updateItemAndAddLog" parameterType="com.taosearch.model.Item">
		update t_item
		<set>
			updatetime=NOW(),
			<if test="item_no != null and item_no != ''">
				item_no=#{item_no},
			</if>
			<if test="item_name != null and item_name != ''">
				item_name=#{item_name},
			</if>
			<if test="item_image_backup != null and item_image_backup != ''">
				item_image_backup=#{item_image_backup},
			</if>
			<if test="item_main_image != null and item_main_image != ''">
				item_main_image=#{item_main_image},
			</if>
			<if test="item_url != null and item_url != ''">
				item_url=#{item_url},
			</if>
			<if test="item_md != null and item_md != ''">
				item_md=#{item_md},
			</if>
			<if test="item_type != null and item_type != ''">
				item_type=#{item_type},
			</if>
			<if test="item_hdlx != null and item_hdlx != ''">
				item_hdlx=#{item_hdlx},
			</if>
			<if test="item_image_backup != null and item_image_backup != ''">
				item_image_backup=#{item_image_backup},
			</if>
			<if test="remark != null and remark != ''">
				remark=#{remark},
			</if>
			<if test="qq != null and qq != ''">
				qq=#{qq},
			</if>
			<if test="item_jhlb != null and item_jhlb != ''">
				item_jhlb=#{item_jhlb},
			</if>
			<if test="item_jhlj != null and item_jhlj != ''">
				item_jhlj=#{item_jhlj},
			</if>
			<if test="item_yjbl != null">
				item_yjbl=#{item_yjbl},
			</if>
			<if test="item_qhjg != null">
				item_qhjg=#{item_qhjg},
			</if>
			<if test="item_fwdj != null">
				item_fwdj=#{item_fwdj},
			</if>
			state=#{state}
		</set>
		where
		item_id=#{item_id}
	</update>
	<select id="getFinancialStatementsForPage" parameterType="map"
		resultType="com.taosearch.model.FinancialStatements">
		SELECT u.`username`,COUNT(*) totle,COUNT(CASE WHEN
		i.state='001' THEN
		i.state END) dscnum,COUNT(CASE WHEN i.state='002'
		THEN i.state
		END)desnum,
		COUNT(CASE WHEN i.state='003' THEN i.state END)
		tgznum,
		COUNT(CASE WHEN i.state='009' THEN i.state END)jjjsnum,
		COUNT(CASE WHEN
		i.state='004' THEN i.state END)yjsnum,
		COUNT(CASE WHEN i.state='005' THEN i.state END) dfknum,COUNT(CASE WHEN
		i.state='006' THEN i.state END)fkznum,
		COUNT(CASE WHEN i.state='007'
		THEN i.state END) yfknum,COUNT(CASE WHEN
		i.state='112' THEN i.state
		END)bhnum,
		COUNT(CASE WHEN i.state='667' THEN i.state END)
		jjfknum,COUNT(CASE WHEN
		i.state='999' THEN i.state END)jjnum,
		FORMAT(COUNT(*)/(DATEDIFF(MAX(i.`createtime`),MIN(i.`createtime`))+1),2)
		daynum,FORMAT(COUNT(CASE WHEN i.state='999' THEN i.state
		END)/COUNT(*)*100,2) jjl,
		SUM(CASE WHEN i.state='007' THEN item_ssje
		END)
		ssje,SUM(item_zfje/item_qhjg*item_fwdj) ysje,FORMAT(SUM(CASE WHEN
		i.state='007' THEN item_ssje END)/COUNT(CASE WHEN i.state='007' THEN
		i.state END),2) kdj
		FROM
		(SELECT * FROM
		t_item WHERE 1=1
		<if test="vo.create_start_time != null and vo.create_start_time !=''"> 
			<![CDATA[and createtime>=#{vo.create_start_time}]]>
		</if>
		<if test="vo.create_end_time != null and vo.create_end_time !=''"> 
			<![CDATA[and createtime<=#{vo.create_end_time}]]>
		</if>
		<if test="vo.update_start_time != null and vo.update_start_time !=''"> 
			<![CDATA[and updatetime>=#{vo.update_start_time}]]>
		</if>
		<if test="vo.update_end_time != null and vo.update_end_time !=''"> 
			<![CDATA[and updatetime<=#{vo.update_end_time}]]>
		</if>
		AND
		user_id IN(SELECT user_id FROM
		t_sys_user
		WHERE state!=0
		<if test="sa.authorization == '1'.toString() ">and user_id = #{sa.user_id} </if>
		<if test="sa.authorization == '2'.toString() ">and team_id = #{sa.team_id} </if>
		<if test="vo.team_id != null and vo.team_id != ''">and team_id = #{vo.team_id} </if>
		<if test="vo.user_id != null and vo.user_id != ''">and user_id = #{vo.user_id} </if>
		))i
		LEFT JOIN
		t_sys_user u
		ON i.`user_id`=u.`user_id`
		GROUP BY
		u.`username`

		<if test="vo.order == 'ssje desc'">
			ORDER BY  ssje desc
		</if>
		<if test="vo.order == 'ssje asc'">
			ORDER BY  ssje asc
		</if>
		<if test="vo.order == 'totle desc'">
			ORDER BY  totle desc
		</if>
		<if test="vo.order == 'totle asc'">
			ORDER BY  totle asc
		</if>

		LIMIT #{pagestart},#{rows}
	</select>
	<select id="getFinancialStatementsCount" parameterType="map"
		resultType="int">
		SELECT
		COUNT(*)
		FROM(
		SELECT i.user_id
		FROM
		(SELECT * FROM
		t_item WHERE 1=1
		<if test="vo.create_start_time != null and vo.create_start_time !=''"> 
			<![CDATA[and createtime>=#{vo.create_start_time}]]>
		</if>
		<if test="vo.create_end_time != null and vo.create_end_time !=''"> 
			<![CDATA[and createtime<=#{vo.create_end_time}]]>
		</if>
		<if test="vo.update_start_time != null and vo.update_start_time !=''"> 
			<![CDATA[and updatetime>=#{vo.update_start_time}]]>
		</if>
		<if test="vo.update_end_time != null and vo.update_end_time !=''"> 
			<![CDATA[and updatetime<=#{vo.update_end_time}]]>
		</if>
		AND
		user_id IN(SELECT user_id FROM
		t_sys_user
		WHERE state!=0
		<if test="sa.authorization == '1'.toString() ">and user_id = #{sa.user_id} </if>
		<if test="sa.authorization == '2'.toString() ">and team_id = #{sa.team_id} </if>
		<if test="vo.team_id != null and vo.team_id != ''">and team_id = #{vo.team_id} </if>
		<if test="vo.user_id != null and vo.user_id != ''">and user_id = #{vo.user_id} </if>
		))i
		GROUP BY
		i.`user_id`)t

	</select>
	<select id="getFinancialStatementsForExcel" parameterType="map"
		resultType="com.taosearch.model.FinancialStatements">
		SELECT u.`username`,COUNT(*) totle,COUNT(CASE WHEN
		i.state='001' THEN
		i.state END) dscnum,COUNT(CASE WHEN i.state='002'
		THEN i.state
		END)desnum,
		COUNT(CASE WHEN i.state='003' THEN i.state END)
		tgznum,COUNT(CASE WHEN
		i.state='004' THEN i.state END)yjsnum,
		COUNT(CASE WHEN i.state='005' THEN i.state END) dfknum,COUNT(CASE WHEN
		i.state='006' THEN i.state END)fkznum,
		COUNT(CASE WHEN i.state='007'
		THEN i.state END) yfknum,COUNT(CASE WHEN
		i.state='112' THEN i.state
		END)bhnum,
		COUNT(CASE WHEN i.state='667' THEN i.state END)
		jjfknum,COUNT(CASE WHEN
		i.state='999' THEN i.state END)jjnum,
		FORMAT(COUNT(*)/(DATEDIFF(MAX(i.`createtime`),MIN(i.`createtime`))+1),2)
		daynum,FORMAT(COUNT(CASE WHEN i.state='999' THEN i.state
		END)/COUNT(*)*100,2) jjl,
		SUM(CASE WHEN i.state='007' THEN item_ssje
		END)
		ssje,SUM(item_zfje/item_qhjg*item_fwdj) ysje,FORMAT(SUM(CASE WHEN
		i.state='007' THEN item_ssje END)/COUNT(CASE WHEN i.state='007' THEN
		i.state END),2) kdj
		FROM
		(SELECT * FROM
		t_item WHERE state!=0
		<if test="vo.create_start_time != null and vo.create_start_time !=''"> 
			<![CDATA[and createtime>=#{vo.create_start_time}]]>
		</if>
		<if test="vo.create_end_time != null and vo.create_end_time !=''"> 
			<![CDATA[and createtime<=DATE_ADD(#{vo.create_end_time},INTERVAL 1 DAY)]]>
		</if>
		<if test="vo.update_start_time != null and vo.update_start_time !=''"> 
			<![CDATA[and updatetime>=#{vo.update_start_time}]]>
		</if>
		<if test="vo.update_end_time != null and vo.update_end_time !=''"> 
			<![CDATA[and updatetime<=DATE_ADD(#{vo.update_end_time},INTERVAL 1 DAY)]]>
		</if>
		AND
		user_id IN(SELECT user_id FROM
		t_sys_user
		WHERE 1=1
		<if test="sa.authorization == '1'.toString() ">and user_id = #{sa.user_id} </if>
		<if test="sa.authorization == '2'.toString() ">and team_id = #{sa.team_id} </if>
		<if test="vo.team_id != null and vo.team_id != ''">and team_id = #{vo.team_id} </if>
		<if test="vo.user_id != null and vo.user_id != ''">and user_id = #{vo.user_id} </if>
		))i
		LEFT JOIN
		t_sys_user u
		ON i.`user_id`=u.`user_id`
		GROUP BY
		u.`username`
		<if test="vo.order == 'ssje desc'">
			ORDER BY  ssje desc
		</if>
		<if test="vo.order == 'ssje asc'">
			ORDER BY  ssje asc
		</if>
		<if test="vo.order == 'totle desc'">
			ORDER BY  totle desc
		</if>
		<if test="vo.order == 'totle asc'">
			ORDER BY  totle asc
		</if>
	</select>
</mapper>